$color-accent: #A0862F;
$color-accent-active: #876F1F;
$color-white: #F4F1EC;
$color-green: #255244;
$color-red: #9C2424;
$color-blue: #00629F;
$bodyBg: #F4F1EC;



$font-size: 18px;
$font-Camera-W01: 'Camera W01 Regular', sans-serif;
$font-Arimo: 'Arimo', sans-serif;;
